In [3]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

# Load the data
data = pd.read_excel("./data/Dengue_2001-2024.xlsx")

data_epidemic = data[data['Year'] <= 2018]

,Year,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
0,2001,136578600,1049,32505706,104072893,33.24,18.28,139.92,2198.86,73.42,25.94,2430,44
1,2002,138612896,1065,33960159,104652737,33.44,17.68,156.25,2127.61,73.17,25.82,6232,58
2,2003,140647193,1080,35443092,105204100,33.52,18.08,141.08,2159.29,73.67,25.75,486,10
3,2004,142681489,1096,36954505,105726983,33.55,18.02,195.58,2112.04,72.67,25.88,3934,14
4,2005,144715786,1112,38494399,106221386,33.67,18.73,219.75,2092.13,72.83,26.24,1048,4
5,2006,146213025,1123,40033126,106179898,34.62,18.65,159.92,2205.12,71.42,26.47,2200,11
6,2007,147710264,1134,41595210,106115053,33.90,18.29,240.42,2246.41,73.17,25.71,466,0
7,2008,149207503,1146,43180651,106026851,33.67,18.34,184.75,2384.65,73.42,25.88,1153,0
8,2009,150704742,1157,44789449,105915292,34.66,18.68,160.92,2155.83,70.25,26.52,474,0
9,2010,152201981,1169,46421604,105780376,34.24,19.12,126.92,2254.19,70.42,26.58,409,0
10,2011,153638220,1180,48150218,105488002,33.66,18.68,148.00,2384.01,70.92,25.82,1359,6
11,2012,155074460,1191,49902961,105171498,34.12,18.58,110.75,2179.67,70.25,26.09,671,1
12,2013,156510699,1202,51679833,104830866,34.17,18.40,129.67,2224.81,70.50,26.09,1749,2
13,2014,157946939,1213,53480833,104466105,34.67,18.40,116.58,1971.07,69.83,26.23,375,0
14,2015,159383179,1224,55305963,104077215,34.36,18.56,180.50,2127.54,70.75,26.16,3162,6
15,2016,160766148,1234,57168442,103597705,34.61,19.52,113.75,2125.41,72.58,26.73,6160,14
16,2017,162149117,1245,59054708,103094408,34.21,19.14,241.00,2384.28,73.42,26.38,2769,8
17,2018,163532086,1256,60964761,102567324,34.32,19.20,144.33,2168.76,71.58,26.08,10148,26

In [4]:
# Drop the 'Year' column and describe the data
description = data_epidemic.drop(columns=['Year']).describe()

# Round the non-population columns to 2 decimal places
description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])] = description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])].round(2)

# Ensure population columns are integers
description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']] = description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']].astype(int)

description

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
count,18,18,18,18,18.00,18.00,18.00,18.00,18.00,18.00,18,18
mean,151015240,1159,46060312,104954927,34.03,18.58,161.67,2194.54,71.90,26.13,2512,11
std,8278126,63,8927728,1113831,0.46,0.46,40.93,108.45,1.37,0.31,2643,16
min,136578600,1049,32505706,102567324,33.24,17.68,110.75,1971.07,69.83,25.71,375,0
25%,145090095,1114,38879080,104174437,33.66,18.30,132.23,2127.56,70.56,25.88,532,0
50%,151453361,1163,45605526,105187799,34.14,18.57,152.12,2174.22,72.08,26.09,1554,6
75%,157587879,1210,53030583,105881563,34.35,18.72,183.69,2241.01,73.17,26.34,3063,13
max,163532086,1256,60964761,106221386,34.67,19.52,241.00,2384.65,73.67,26.73,10148,58

In [9]:
data_epidemic = data_epidemic.set_index("Year")

In [10]:
data_epidemic

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
Year,,,,,,,,,,,,
2001,136578600,1049,32505706,104072893,33.24,18.28,139.92,2198.86,73.42,25.94,2430,44
2002,138612896,1065,33960159,104652737,33.44,17.68,156.25,2127.61,73.17,25.82,6232,58
2003,140647193,1080,35443092,105204100,33.52,18.08,141.08,2159.29,73.67,25.75,486,10
2004,142681489,1096,36954505,105726983,33.55,18.02,195.58,2112.04,72.67,25.88,3934,14
2005,144715786,1112,38494399,106221386,33.67,18.73,219.75,2092.13,72.83,26.24,1048,4
2006,146213025,1123,40033126,106179898,34.62,18.65,159.92,2205.12,71.42,26.47,2200,11
2007,147710264,1134,41595210,106115053,33.90,18.29,240.42,2246.41,73.17,25.71,466,0
2008,149207503,1146,43180651,106026851,33.67,18.34,184.75,2384.65,73.42,25.88,1153,0
2009,150704742,1157,44789449,105915292,34.66,18.68,160.92,2155.83,70.25,26.52,474,0
2010,152201981,1169,46421604,105780376,34.24,19.12,126.92,2254.19,70.42,26.58,409,0
2011,153638220,1180,48150218,105488002,33.66,18.68,148.00,2384.01,70.92,25.82,1359,6
2012,155074460,1191,49902961,105171498,34.12,18.58,110.75,2179.67,70.25,26.09,671,1
2013,156510699,1202,51679833,104830866,34.17,18.40,129.67,2224.81,70.50,26.09,1749,2
2014,157946939,1213,53480833,104466105,34.67,18.40,116.58,1971.07,69.83,26.23,375,0
2015,159383179,1224,55305963,104077215,34.36,18.56,180.50,2127.54,70.75,26.16,3162,6
2016,160766148,1234,57168442,103597705,34.61,19.52,113.75,2125.41,72.58,26.73,6160,14
2017,162149117,1245,59054708,103094408,34.21,19.14,241.00,2384.28,73.42,26.38,2769,8
2018,163532086,1256,60964761,102567324,34.32,19.20,144.33,2168.76,71.58,26.08,10148,26