In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

# Load the data
data = pd.read_excel("./data/Dengue_2001-2024.xlsx")

data.set_index("Year")

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
Year,,,,,,,,,,,,
2001,136578600,1049,32505706,104072893,33.24,18.28,139.92,2198.860,73.42,25.94,2430,44
2002,138612896,1065,33960159,104652737,33.44,17.68,156.25,2127.610,73.17,25.82,6232,58
2003,140647193,1080,35443092,105204100,33.52,18.08,141.08,2159.290,73.67,25.75,486,10
2004,142681489,1096,36954505,105726983,33.55,18.02,195.58,2112.040,72.67,25.88,3934,14
2005,144715786,1112,38494399,106221386,33.67,18.73,219.75,2092.130,72.83,26.24,1048,4
2006,146213025,1123,40033126,106179898,34.62,18.65,159.92,2205.120,71.42,26.47,2200,11
2007,147710264,1134,41595210,106115053,33.90,18.29,240.42,2246.410,73.17,25.71,466,0
2008,149207503,1146,43180651,106026851,33.67,18.34,184.75,2384.650,73.42,25.88,1153,0
2009,150704742,1157,44789449,105915292,34.66,18.68,160.92,2155.830,70.25,26.52,474,0
2010,152201981,1169,46421604,105780376,34.24,19.12,126.92,2254.190,70.42,26.58,409,0
2011,153638220,1180,48150218,105488002,33.66,18.68,148.00,2384.010,70.92,25.82,1359,6
2012,155074460,1191,49902961,105171498,34.12,18.58,110.75,2179.670,70.25,26.09,671,1
2013,156510699,1202,51679833,104830866,34.17,18.40,129.67,2224.810,70.50,26.09,1749,2
2014,157946939,1213,53480833,104466105,34.67,18.40,116.58,1971.070,69.83,26.23,375,0
2015,159383179,1224,55305963,104077215,34.36,18.56,180.50,2127.540,70.75,26.16,3162,6
2016,160766148,1234,57168442,103597705,34.61,19.52,113.75,2125.410,72.58,26.73,6160,14
2017,162149117,1245,59054708,103094408,34.21,19.14,241.00,2384.280,73.42,26.38,2769,8
2018,163532086,1256,60964761,102567324,34.32,19.20,144.33,2168.760,71.58,26.08,10148,26
2019,164915055,1267,62898601,102016453,34.71,18.46,153.08,2021.150,72.50,26.36,101354,179
2020,166298024,1278,64856229,101441794,34.82,19.48,160.00,2186.480,74.83,26.24,1193,3
2021,167841460,1289,66800901,101040559,35.40,19.06,156.08,2284.230,71.92,26.78,28429,105
2022,169384897,1301,68770268,100614628,33.09,20.20,114.25,2284.230,73.00,27.00,62382,281
2023,171466990,1317,70815866,100651123,38.33,21.11,241.57,2284.232,64.00,30.00,321179,1705
2024,173562364,1333,72896192,100666171,32.78,26.11,350.00,2284.232,75.00,29.44,101214,575

In [6]:
# Drop the 'Year' column and describe the data
description = data.drop(columns=['Year']).describe()

# Round the non-population columns to 2 decimal places
description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])] = description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])].round(2)

# Ensure population columns are integers
description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']] = description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']].astype(int)

description

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
count,24,24,24,24,24.00,24.00,24.00,24.00,24.00,24.00,24,24
mean,155489296,1194,51505153,103984142,34.24,19.12,170.21,2201.93,71.90,26.51,27540,127
std,10751206,82,12439755,1983910,1.07,1.66,55.53,106.51,2.23,1.05,69282,359
min,136578600,1049,32505706,100614628,32.78,17.68,110.75,1971.07,64.00,25.71,375,0
25%,147335954,1131,41204689,102429606,33.63,18.38,137.36,2127.59,70.69,25.92,953,1
50%,155792579,1196,50791397,104559421,34.19,18.66,156.17,2192.67,72.54,26.24,2315,9
75%,163877828,1258,61448221,105740331,34.63,19.16,187.46,2284.23,73.23,26.54,7211,47
max,173562364,1333,72896192,106221386,38.33,26.11,350.00,2384.65,75.00,30.00,321179,1705

In [8]:
data.set_index("Year")
data_epidemic = data[data['Year'] <= 2018]
data_endemic = data[data['Year'] > 2018]

In [10]:
data_epidemic.set_index("Year")

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
Year,,,,,,,,,,,,
2001,136578600,1049,32505706,104072893,33.24,18.28,139.92,2198.86,73.42,25.94,2430,44
2002,138612896,1065,33960159,104652737,33.44,17.68,156.25,2127.61,73.17,25.82,6232,58
2003,140647193,1080,35443092,105204100,33.52,18.08,141.08,2159.29,73.67,25.75,486,10
2004,142681489,1096,36954505,105726983,33.55,18.02,195.58,2112.04,72.67,25.88,3934,14
2005,144715786,1112,38494399,106221386,33.67,18.73,219.75,2092.13,72.83,26.24,1048,4
2006,146213025,1123,40033126,106179898,34.62,18.65,159.92,2205.12,71.42,26.47,2200,11
2007,147710264,1134,41595210,106115053,33.90,18.29,240.42,2246.41,73.17,25.71,466,0
2008,149207503,1146,43180651,106026851,33.67,18.34,184.75,2384.65,73.42,25.88,1153,0
2009,150704742,1157,44789449,105915292,34.66,18.68,160.92,2155.83,70.25,26.52,474,0
2010,152201981,1169,46421604,105780376,34.24,19.12,126.92,2254.19,70.42,26.58,409,0
2011,153638220,1180,48150218,105488002,33.66,18.68,148.00,2384.01,70.92,25.82,1359,6
2012,155074460,1191,49902961,105171498,34.12,18.58,110.75,2179.67,70.25,26.09,671,1
2013,156510699,1202,51679833,104830866,34.17,18.40,129.67,2224.81,70.50,26.09,1749,2
2014,157946939,1213,53480833,104466105,34.67,18.40,116.58,1971.07,69.83,26.23,375,0
2015,159383179,1224,55305963,104077215,34.36,18.56,180.50,2127.54,70.75,26.16,3162,6
2016,160766148,1234,57168442,103597705,34.61,19.52,113.75,2125.41,72.58,26.73,6160,14
2017,162149117,1245,59054708,103094408,34.21,19.14,241.00,2384.28,73.42,26.38,2769,8
2018,163532086,1256,60964761,102567324,34.32,19.20,144.33,2168.76,71.58,26.08,10148,26

In [12]:
# Drop the 'Year' column and describe the data
description = data_epidemic.drop(columns=['Year']).describe()

# Round the non-population columns to 2 decimal places
description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])] = description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])].round(2)

# Ensure population columns are integers
description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']] = description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']].astype(int)

description

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
count,18,18,18,18,18.00,18.00,18.00,18.00,18.00,18.00,18,18
mean,151015240,1159,46060312,104954927,34.03,18.58,161.67,2194.54,71.90,26.13,2512,11
std,8278126,63,8927728,1113831,0.46,0.46,40.93,108.45,1.37,0.31,2643,16
min,136578600,1049,32505706,102567324,33.24,17.68,110.75,1971.07,69.83,25.71,375,0
25%,145090095,1114,38879080,104174437,33.66,18.30,132.23,2127.56,70.56,25.88,532,0
50%,151453361,1163,45605526,105187799,34.14,18.57,152.12,2174.22,72.08,26.09,1554,6
75%,157587879,1210,53030583,105881563,34.35,18.72,183.69,2241.01,73.17,26.34,3063,13
max,163532086,1256,60964761,106221386,34.67,19.52,241.00,2384.65,73.67,26.73,10148,58

In [11]:
data_endemic.set_index("Year")

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
Year,,,,,,,,,,,,
2019,164915055,1267,62898601,102016453,34.71,18.46,153.08,2021.150,72.50,26.36,101354,179
2020,166298024,1278,64856229,101441794,34.82,19.48,160.00,2186.480,74.83,26.24,1193,3
2021,167841460,1289,66800901,101040559,35.40,19.06,156.08,2284.230,71.92,26.78,28429,105
2022,169384897,1301,68770268,100614628,33.09,20.20,114.25,2284.230,73.00,27.00,62382,281
2023,171466990,1317,70815866,100651123,38.33,21.11,241.57,2284.232,64.00,30.00,321179,1705
2024,173562364,1333,72896192,100666171,32.78,26.11,350.00,2284.232,75.00,29.44,101214,575

In [13]:
# Drop the 'Year' column and describe the data
description = data_endemic.drop(columns=['Year']).describe()

# Round the non-population columns to 2 decimal places
description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])] = description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])].round(2)

# Ensure population columns are integers
description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']] = description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']].astype(int)

description

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
count,6,6,6,6,6.00,6.00,6.00,6.00,6.00,6.00,6,6
mean,168911465,1297,67839676,101071788,34.86,20.74,195.83,2224.09,71.88,27.64,102625,474
std,3235181,24,3733263,562272,1.99,2.79,86.26,106.83,4.05,1.65,114177,633
min,164915055,1267,62898601,100614628,32.78,18.46,114.25,2021.15,64.00,26.24,1193,3
25%,166683883,1280,65342397,100654885,33.50,19.16,153.83,2210.92,72.06,26.46,36917,123
50%,168613178,1295,67785584,100853365,34.76,19.84,158.04,2284.23,72.75,26.89,81798,230
75%,170946466,1313,70304466,101341485,35.25,20.88,221.18,2284.23,74.37,28.83,101319,501
max,173562364,1333,72896192,102016453,38.33,26.11,350.00,2284.23,75.00,30.00,321179,1705

In [15]:
# Load the data for monthly cases
data = pd.read_excel("./data/Monthly_Infection_2001-2024.xlsx")

data_epidemic_monthly = data[data['Year'] <= 2018]
data_endemic_monthly = data[data['Year'] > 2018]

In [16]:
data_epidemic_monthly.set_index("Year")

,January,February,March,April,May,June,July,August,September,October,November,December,Infected
Year,,,,,,,,,,,,,
2001,0,0,0,0,5,152,310,24,655,514,159,611,2430
2002,0,0,0,0,0,566,3281,0,1713,121,10,541,6232
2003,0,0,0,2,1,4,4,0,3,372,100,0,486
2004,0,0,1,0,1,1209,1261,143,511,395,51,362,3934
2005,1,0,0,0,0,3,174,2,337,187,19,325,1048
2006,0,0,0,0,0,972,680,100,211,92,0,145,2200
2007,0,0,0,0,0,85,179,0,163,0,0,39,466
2008,0,0,0,0,0,0,160,473,334,186,0,0,1153
2009,0,0,0,0,1,0,4,125,188,156,0,0,474
2010,0,0,0,0,0,0,61,183,120,45,0,0,409
2011,0,0,0,0,0,61,255,691,193,114,36,9,1359
2012,0,0,0,0,0,10,129,122,266,117,27,0,671
2013,6,7,3,3,12,50,172,339,385,501,218,53,1749
2014,15,7,2,0,8,9,82,80,76,63,22,11,375
2015,0,0,2,6,10,28,171,765,965,869,271,75,3162
2016,13,3,17,38,71,274,926,1461,1564,1097,542,154,6160
2017,92,58,36,73,134,267,286,346,430,512,409,126,2769
2018,26,7,19,29,52,295,946,1796,3087,2406,1192,293,10148

In [17]:
data_endemic_monthly.set_index("Year")

,January,February,March,April,May,June,July,August,September,October,November,December,Infected
Year,,,,,,,,,,,,,
2019,38,18,17,58,193,1884,16253,52636,16856,8143,4011,1247,101354
2020,111,45,27,25,10,23,68,163,47,109,546,19,1193
2021,32,9,13,3,43,272,2286,7698,7841,5458,3567,1207,28429
2022,126,20,20,23,163,737,1571,3521,9911,21932,19334,5024,62382
2023,566,166,111,143,1036,5956,43854,71976,79598,67769,40716,9288,321179
2024,1055,339,311,504,644,798,2669,6521,18097,30879,29652,9745,101214