In [7]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

# Load the data
data = pd.read_excel("./data/Dengue_2001-2024.xlsx")

data_endemic = data[data['Year'] > 2018]

data_endemic.set_index('Year')

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
Year,,,,,,,,,,,,
2019,164915055,1267,62898601,102016453,34.71,18.46,153.08,2021.150,72.50,26.36,101354,179
2020,166298024,1278,64856229,101441794,34.82,19.48,160.00,2186.480,74.83,26.24,1193,3
2021,167841460,1289,66800901,101040559,35.40,19.06,156.08,2284.230,71.92,26.78,28429,105
2022,169384897,1301,68770268,100614628,33.09,20.20,114.25,2284.230,73.00,27.00,62382,281
2023,171466990,1317,70815866,100651123,38.33,21.11,241.57,2284.232,64.00,30.00,321179,1705
2024,173562364,1333,72896192,100666171,32.78,26.11,350.00,2284.232,75.00,29.44,101214,575

In [4]:
# Drop the 'Year' column and describe the data
description = data_endemic.drop(columns=['Year']).describe()

# Round the non-population columns to 2 decimal places
description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])] = description.loc[:, description.columns.difference(['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death'])].round(2)

# Ensure population columns are integers
description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']] = description[['Population', 'Population Density', 'UPop', 'RPop', 'Infected', 'Death']].astype(int)

description

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
count,6,6,6,6,6.00,6.00,6.00,6.00,6.00,6.00,6,6
mean,168911465,1297,67839676,101071788,34.86,20.74,195.83,2224.09,71.88,27.64,102625,474
std,3235181,24,3733263,562272,1.99,2.79,86.26,106.83,4.05,1.65,114177,633
min,164915055,1267,62898601,100614628,32.78,18.46,114.25,2021.15,64.00,26.24,1193,3
25%,166683883,1280,65342397,100654885,33.50,19.16,153.83,2210.92,72.06,26.46,36917,123
50%,168613178,1295,67785584,100853365,34.76,19.84,158.04,2284.23,72.75,26.89,81798,230
75%,170946466,1313,70304466,101341485,35.25,20.88,221.18,2284.23,74.37,28.83,101319,501
max,173562364,1333,72896192,102016453,38.33,26.11,350.00,2284.23,75.00,30.00,321179,1705

In [8]:
data_endemic = data_endemic.set_index('Year')

data_endemic

,Population,Population Density,UPop,RPop,Tmax,Tmin,Rainfall,Precipitation,Relative Humidity,Dry Bulb Temperature,Infected,Death
Year,,,,,,,,,,,,
2019,164915055,1267,62898601,102016453,34.71,18.46,153.08,2021.150,72.50,26.36,101354,179
2020,166298024,1278,64856229,101441794,34.82,19.48,160.00,2186.480,74.83,26.24,1193,3
2021,167841460,1289,66800901,101040559,35.40,19.06,156.08,2284.230,71.92,26.78,28429,105
2022,169384897,1301,68770268,100614628,33.09,20.20,114.25,2284.230,73.00,27.00,62382,281
2023,171466990,1317,70815866,100651123,38.33,21.11,241.57,2284.232,64.00,30.00,321179,1705
2024,173562364,1333,72896192,100666171,32.78,26.11,350.00,2284.232,75.00,29.44,101214,575