In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

In [2]:
df_monthly_infection = pd.read_excel("./data/Monthly_Infection_2001-2024.xlsx")
df_monthly_death = pd.read_excel("./data/Monthly_Death_2019-2024.xlsx")

In [3]:
df_monthly_infection

,Year,January,February,March,April,May,June,July,August,September,October,November,December,Infected
0,2001,0,0,0,0,5,152,310,24,655,514,159,611,2430
1,2002,0,0,0,0,0,566,3281,0,1713,121,10,541,6232
2,2003,0,0,0,2,1,4,4,0,3,372,100,0,486
3,2004,0,0,1,0,1,1209,1261,143,511,395,51,362,3934
4,2005,1,0,0,0,0,3,174,2,337,187,19,325,1048
5,2006,0,0,0,0,0,972,680,100,211,92,0,145,2200
6,2007,0,0,0,0,0,85,179,0,163,0,0,39,466
7,2008,0,0,0,0,0,0,160,473,334,186,0,0,1153
8,2009,0,0,0,0,1,0,4,125,188,156,0,0,474
9,2010,0,0,0,0,0,0,61,183,120,45,0,0,409
10,2011,0,0,0,0,0,61,255,691,193,114,36,9,1359
11,2012,0,0,0,0,0,10,129,122,266,117,27,0,671
12,2013,6,7,3,3,12,50,172,339,385,501,218,53,1749
13,2014,15,7,2,0,8,9,82,80,76,63,22,11,375
14,2015,0,0,2,6,10,28,171,765,965,869,271,75,3162
15,2016,13,3,17,38,71,274,926,1461,1564,1097,542,154,6160
16,2017,92,58,36,73,134,267,286,346,430,512,409,126,2769
17,2018,26,7,19,29,52,295,946,1796,3087,2406,1192,293,10148
18,2019,38,18,17,58,193,1884,16253,52636,16856,8143,4011,1247,101354
19,2020,111,45,27,25,10,23,68,163,47,109,546,19,1193
20,2021,32,9,13,3,43,272,2286,7698,7841,5458,3567,1207,28429
21,2022,126,20,20,23,163,737,1571,3521,9911,21932,19334,5024,62382
22,2023,566,166,111,143,1036,5956,43854,71976,79598,67769,40716,9288,321179
23,2024,1055,339,311,504,644,798,2669,6521,18097,30879,29652,9745,101214

In [20]:
month_num_map = {
    "January": "01",
    "February": "02",
    "March": "03",
    "April": "04",
    "May": "05",
    "June": "06",
    "July": "07",
    "August": "08",
    "September": "09",
    "October": "10",
    "November": "11",
    "December": "12",
}

months = list(month_num_map.keys())

In [21]:
df = df_monthly_infection

In [29]:
ordered_year_month = []
time_ordered_infections = []

for i in range(len(df)):
    curr_year = df.iloc[i]["Year"]
    curr_row = []

    for month in months:
        time_format = f"{curr_year}-{month_num_map[month]}"
        
        ordered_year_month.append(time_format)
        time_ordered_infections.append(df.iloc[i][month])

df_dict = {"YearMonth": ordered_year_month, "Infected": time_ordered_infections}

df_new = pd.DataFrame(df_dict)

In [30]:
df_new

    YearMonth  Infected
0     2001-01         0
1     2001-02         0
2     2001-03         0
3     2001-04         0
4     2001-05         5
..        ...       ...
283   2024-08      6521
284   2024-09     18097
285   2024-10     30879
286   2024-11     29652
287   2024-12      9745

[288 rows x 2 columns]

In [34]:
df_new.to_excel("./data/Dengue_Monthly_Infection_Cleaned_2001-2024.xlsx", index=False)